[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/ffmpeg-circular-buffer"]
	path = external/ffmpeg-circular-buffer
	url = https://github.com/sqrtminustwo/ffmpeg-circular-buffer
